/* FOR MOBILE */

@media screen and (max-width: 767px) {
  .section-footer-fon {
    max-width: 320px;
    max-height: 664px;
    background: #2e2f42;
    padding: 96px 0;
  }

  .footer-container {
    display: block;
    align-items: center;
  }

  .for-logo-p {
    justify-content: center;
    padding: 0 16px;
  }

  .socseti-div {
    margin-top: 72px;
  }

  .soc-seti-p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .soc-list-style-footer {
    margin-top: 16px;
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .link-footer-hover:hover,
  .link-footer-hover:focus {
    background-color: #31d0aa;
  }

  .section-footer-text {
    color: #f4f4fd;
    background-color: #2e2f42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .logotype-footer-style {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .logo-part-footer {
    color: #f4f4fd;
  }

  .link-footer-position {
    margin-bottom: 16px;
  }

  .link-soc-seti {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-footer-size {
    max-width: 288px;
  }

  .forma-subscribe {
    margin-top: 72px;
    display: block;
  }
  .sub-tittle {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .form-footer {
    display: block;
    gap: 72px;
  }
  .input-sub-footer {
    margin-bottom: 16px;
    width: 288px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #fff);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .placeholder {
    color: var(--WHITE, #fff);
  }

  .input-form-footer {
    margin: 16px 0;
  }

  .sub-btn {
    width: 165px;
    height: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
    color: var(--WHITE, #fff);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
  }

  .icon-btn-sub {
    margin: auto;
  }
}

/* FOR TABLET */

@media screen and (min-width: 768px) {
  .section-footer-fon {
    /* width: 768px;
    height: 456px; */
    flex-shrink: 0;
    /* padding: 96px 164px 96px 108px; */
    background: #2e2f42;
  }

  .footer-container {
    /* margin-left: 80px; */
    gap: 72px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    padding-top: 97.5px;
    padding-bottom: 96px;
  }

  .soc-seti-p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .soc-list-style-footer {
    margin-left: 24px;
    margin-top: 16px;
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .link-footer-hover:hover,
  .link-footer-hover:focus {
    background-color: #31d0aa;
  }

  .section-footer-text {
    color: #f4f4fd;
    background-color: #2e2f42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .logotype-footer-style {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }

  .logo-part-footer {
    color: #f4f4fd;
  }

  .link-footer-position {
    justify-content: center;
    display: inline-block;
    padding-bottom: 16px;
    justify-content: center;
  }

  .link-soc-seti {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-footer-size {
    max-width: 288px;
  }

  .forma-subscribe {
    /* margin-top: 72px; */
    display: block;
  }
  .sub-tittle {
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .form-footer {
    /* display: block; */
    gap: 72px;
  }
  .input-sub-footer {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #fff);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .placeholder {
    color: var(--WHITE, #fff);
  }

  .input-form-footer {
    margin: 16px 0;
  }

  .sub-btn {
    width: 165px;
    height: 40px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
    color: var(--WHITE, #fff);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 0 50px;
  }

  .icon-btn-sub {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer-fon {
    background: #2e2f42;
  }

  .footer-container {
    gap: unset;
    max-height: 312px;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 97.5px;
    padding-bottom: 96px;
  }

  .for-logo-p {
    max-width: 288px;
    /* justify-content: center; */
    /* padding: 0 16px; */
    /* margin-right: 76px; */
  }

  .logotype-footer-style {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }

  .logo-part-footer {
    color: #f4f4fd;
  }

  .socseti-div {
    margin: auto;
  }

  .soc-seti-p {
    text-align: start;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .soc-list-style-footer {
    margin-left: 0;
    margin-top: 16px;
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .link-footer-hover:hover,
  .link-footer-hover:focus {
    background-color: #31d0aa;
  }

  .section-footer-text {
    color: #f4f4fd;
    background-color: #2e2f42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .link-footer-position {
    justify-content: center;
    display: inline-block;
    padding-bottom: 16px;
    justify-content: center;
  }

  .link-soc-seti {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-footer-size {
    max-width: 264px;
  }

  .forma-subscribe {
    /* margin-left: 80px; */
    flex-wrap: nowrap;
  }
  .sub-tittle {
    /* margin-left: 80px; */
    width: 75px;
    height: 24px;
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* margin-bottom: 16px; */
  }

  .form-footer {
    /* padding-left: 80px; */
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .input-form-footer {
    margin-left: 80px;
  }

  .input-sub-footer {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #fff);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .placeholder {
    color: var(--WHITE, #fff);
  }

  .input-form-footer {
    margin: 16px 0;
  }

  .sub-btn {
    width: 165px;
    height: 40px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
    color: var(--WHITE, #fff);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    /* margin: 0 50px; */
  }

  .icon-btn-sub {
    margin: auto;
  }
}
