/* FOR MOBILE */

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .adress-item-link {
    display: none;
  }

  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger-btn-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    fill: none;
    fill: #2f2f37;
    padding: 16px 16px 16px 140px;
  }
}

/* .page-header {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 16px;
} */

.logotype {
  display: flex;
  align-items: center;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 16px;
}

.logo-part-header {
  color: #2e2f42;
}

/* FOR TABLET */

@media screen and (min-width: 767px) {
  .burger-btn-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header-container {
    flex-shrink: 0;
    display: flex;
  }

  .page-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo-right {
    margin-right: 76px;
    display: flex;
  }

  .menu-nav-list {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--primary-color);
    transition: color 250ms ease-out;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }

  .adress-link {
    margin-left: auto;
    display: flex;
    column-gap: 14px;
    margin-top: 16px;
  }

  .adress-item-link-ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .adress-item-link {
    flex-shrink: 0;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
    gap: 12px;
  }

  .menu-link-studio {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404bbf;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link-studio::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 48px;
    background-color: #404bbf;
    border-radius: 2px;
  }
}
/* FOR TABLET */

/* FOR DESKTOP */

@media screen and (min-width: 1158px) {
  .page-header-container {
    max-width: 1158px;
    align-items: center;
  }

  .header-logo-right {
    /* margin-left: 16px; */
    margin-right: 76px;
    display: flex;
  }

  .menu-link {
    display: flex;
    align-items: center;
  }

  .adress-item-link-ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .adress-item-link {
    display: flex;
    column-gap: 40px;
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress-item-link:hover,
  .adress-item-link:focus {
    color: #404bbf;
  }

  .adress-link {
    margin-top: 0;
    display: flex;
    column-gap: 14px;
    margin-left: auto;
  }

  .logotype {
    font-size: 18px;
    line-height: 1.11;
  }

  .menu {
    column-gap: 24px;
  }
}
