.menu {
  display: none;
}
.adress-item-link {
  display: none;
}

.page-header {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 16px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype {
  display: flex;
  align-items: center;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.burger-btn-menu {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  fill: none;
  fill: #2f2f37;
}

/* MOBILE MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
  /* transform: translateX(100%);
transition: transform 250ms ease-out; */
}

.menu-nav-mob {
  justify-content: space-between;
  display: flex;
  align-items: column;
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.close-btn-mob-menu {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(92, 84, 200, 10);
  fill: var(--CORNFLOWER, #e7e9fc);
  stroke-width: 1px;
  stroke: var(--NAVY-BLUE, #2e2f42);
  opacity: 0.1;
  align-items: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
  fill: none;
  fill: rgba(46, 47, 66, 1);
  flex-shrink: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-mob {
  padding-top: 72px;
  padding-left: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.menu-li-mob {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.close-btn-mob-menu:hover,
.close-btn-mob-menu:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn-mob-menu:hover .mobile-menu-close-icon,
.close-btn-mob-menu:focus .mobile-menu-close-icon {
  fill: #ffffff;
}

.menu-link-studio-mob {
  color: var(--OCEAN, #404bbf);
}

.nav-i-adress{
  display: block;
  justify-content: space-between;
  align-items: center; 
}
.adress-item-link-mob { 
  padding-top: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-family: Roboto;
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-mob {
  color: var(--IRIS, #4D5AE5);

}

/* .icon-burger-btn {
  transition: stroke 250ms ease-out;
}
.icon-burger-btn {
  transition: stroke 250ms ease-out;
} */

/* 
.logo-part-header {
  color: #2e2f42;
}








  

.mob-page-navigation {
  
}





.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  } 
.mob-menu-link-studio {
  color: var(--NAVY-BLUE, #2e2f42);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.soc-list-style{
  display: inline-flex;
align-items: flex-start;
gap: 40px;
padding-top: 48px;
} */

/* ||||||||||||||||||||| */

/* .menu-link-studio::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 48px;
    background-color: #404bbf;
    border-radius: 2px;
  }
   */

/* .adress-item-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    
    letter-spacing: 0.02em;
    gap: 40px;
    display: flex;
    flex-shrink: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .adress-item-link:hover,
  .adress-item-link:focus {
    color: #404bbf;
  }
  
  .menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }  */

/* .page-header {
    border-bottom: 1px solid #e7e9fc; 
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    margin-bottom: auto;
    box-shadow: зі значенням 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .page-navigation {
    display: flex;
    align-items: center; 
  }
  
  
  .menu-nav-list {
    display: flex;
    gap: 40px;
  }
  .menu-link {
    display: block;
  }
  .menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .menu-link-studio {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404bbf;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  .menu-link-studio::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 48px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  
  
  .adress-item-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    
    letter-spacing: 0.02em;
    gap: 40px;
    display: flex;
    flex-shrink: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .adress-item-link:hover,
  .adress-item-link:focus {
    color: #404bbf;
  }
  
  .menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }  */
