/****** MODAL FORM ******/
@media screen and (max-width: 768px) {
.modal {
    
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    padding: 24px;
    /* what is it? */
    border-radius: 4px;
    background: #fcfcfc;
    border: 1px solid #212121;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* дозволяє задавати анімаційний ефект для зміни значень властивостей стилю */
  
    padding: 72px 24px 24px 24px;
    /* налаштування внутрішніх відступів для контенту або padding: 72px 24px 24px;) */
  }
  
  .sub-form {
    /* width: 360px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  
  .wrapper-fields {
    margin-bottom: 8px;
  }
  .wrapper-fields-textaria {
    margin-bottom: 16px;
  }
  
  .form-label {
    display: block;
    flex-direction: column;
    transition: color 150ms ease-in-out;
    color: var(--LIGHT-SLATE, #8e8f99);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    width: 100%;
    margin-bottom: 4px;
    line-height: 1.17;
    /* для визначення простору між рядками */
  }
  
  .checkbox-label {
    font-size: 12px;
    /* font-weight: 400; */
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: #8e8f99;
  }
  
  .form-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    padding-top: 8px;
    padding-left: 16px;
    resize: none;
    transition: border-color 250ms ease-out;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    padding: 8px 16px;
    /* для встановлення стилю контуру для елемента */
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  }
  
  .form-comment:hover,
  .form-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
  
  .form-checkbox-wrapper {
    margin-bottom: 24px;
  }
  .form-checkbox {
    color: var(--LIGHT-SLATE, #8e8f99);
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
  }
  
  .form-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    /* що дозволяє задати стиль, ширину та колір межі навколо елемента */
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    /* для вирівнювання іконки по вертикалі */
    justify-content: center;
    /* для вирівнювання іконки по горизонталі */
    fill: transparent;
  }
  
  .form-checkbox:checked + .checkbox-label > .form-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  
  .link-privacy {
    color: #4d5ae5;
  }
  
  .form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    background-color: transparent;
    /* встановлює колір фону ел */
    outline: transparent;
    /* для встановлення стилю контуру для елемента */
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* для плавної зміни кольору рамки */
  }
  
  .input-icon-wrapper {
    position: relative;
  }
  
  .form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
  
  .form-input:focus + .icons-form {
    fill: #4d5ae5;
  }
  
  /* .icons-form {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: stroke 150ms ease-out;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: none;
    fill: #2e2f42;
    
  } */
  
  .form-button {
    display: block;
    /* для можливості центрувати кнопку через властивість margin */
    margin-top: 24px;
    margin: auto;
    min-width: 169px;
    height: 56px;
    color: var(--WHITE, #fff);
    text-align: center;
    /* Button Text */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* дозволяє задавати анімаційний ефект для зміни значень властивостей стилю */
  }}